<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:ap="http://typo3.org/ns/Atomicplan/PlateBootstrap/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Border">
    <f:asset.css identifier="bs.breadcrumb" href="{atomicBs}/components/breadcrumb.css" priority="1"/>

    <f:if condition="!{disableHeader}">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '3', slide: '{slideHeader}'}" />
    </f:if>
</f:section>

<f:section name="Offcanvas">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '4', slide: '-1'}" />
</f:section>

<f:section name="SlidePostContent">
    <f:if condition="!{disablePostContent}">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '8', slide: '{slidePostContent}'}" />
    </f:if>
</f:section>

<f:section name="Main">
    <f:variable name="headerContent" value="{f:cObject(typoscriptObjectPath:'lib.dynamicContent', data:'{pageUid: \'{data.uid}\', colPos: \'8\', slide: \'{slidePostContent}\'}')}"/>
    <f:if condition="!{disablePostContent}">
        {headerContent -> f:format.raw()}
    </f:if>
    <f:if condition="!{disablePostContentSubpages} && !{headerContent}">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '9', slide: '-1'}" />
    </f:if>

    <f:render partial="Navigation/Breadcrumb" arguments="{_all}" />

    <div class="section section-default">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0', slide: '0'}" />
    </div>
    <f:if condition="!{disablePreFooter}">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '11', slide: '{slidePreFooter}'}" />
    </f:if>

</f:section>

<f:section name="Footer">
    <f:if condition="!{disableFooter}">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '20', slide: '{slideFooter}'}" />
    </f:if>
</f:section>

</html>
