<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header" />
<f:section name="Main">
    <f:asset.css identifier="bs.textpic" href="{atomicBs}/components/textpic.css" priority="1"/>
    <f:asset.css identifier="bs.buttons" href="EXT:plate_atomic_assets/Resources/Public/atomic-bootstrap/Dist/components/buttons.css" />
    <f:asset.css identifier="bs.table" href="EXT:plate_atomic_assets/Resources/Public/atomic-bootstrap/Dist/components/table.css" />
    <div class="textmedia textmedia-below">
        <div class="textmedia-item textmedia-gallery">
            <f:render partial="Media/Gallery" arguments="{_all}" />
        </div>
        <div class="textmedia-item textmedia-text">
            <f:render partial="Header/All" arguments="{_all}" />
            <f:format.html>{data.bodytext}</f:format.html>
        </div>
    </div>

</f:section>
</html>
